/* roboto-regular - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

::selection {
  color: unset;
  background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.container {
  max-width: 1360px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.site-header__top-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 13px;
  padding-bottom: 13px;
}

.site-header__home {
  display: flex;
  align-items: center;
  margin-left: 180px;
}
.site-header__home::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 13px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../img/house-min.svg");
  margin-right: 9px;
}

.site-header__adress {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333;
}

.site-header__tel-list {
  display: flex;
  align-items: center;
}
.site-header__tel-list::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../img/phone-min.svg");
  background-size: cover;
  margin-right: 9px;
}

.site-header__tel-item + .site-header__tel-item {
  margin-left: 9px;
  display: flex;
  align-items: center;
}
.site-header__tel-item + .site-header__tel-item::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../img/circle.svg");
  background-size: cover;
  margin-right: 9px;
}

.site-header__tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333;
  transition-duration: 0.4s;
}

.site-header__tel:hover {
  color: #FFBD54;
}

.site-header__tel:active {
  color: #333;
  opacity: 0.6;
}

.site-header__day-block {
  display: flex;
  align-items: center;
}
.site-header__day-block::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../img/schedule-min.svg");
  background-size: cover;
  margin-right: 7px;
}

.site-header__day {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333;
}

.site-header__day:nth-child(2) {
  margin-left: 17px;
}

.site-header__bottom {
  background-color: #fff;
}

.site-header__bottom-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-header__logo-box {
  display: inline-block;
  width: 120px;
  position: relative;
  transform: scale(1.5);
  display: flex;
  flex-shrink: 0;
  transition-duration: 0.2s;
}

.site-header__logo-box:hover {
  opacity: 0.9;
}

.site-header__logo-box:active {
  opacity: 0.6;
}

.site-header__list {
  display: flex;
  align-items: center;
}

.site-header__item + .site-header__item {
  margin-left: 55px;
}

.site-header__item:nth-child(1) {
  display: flex;
  align-items: center;
  border-bottom: 4px solid transparent;
}

.site-header__item:nth-child(1) .site-header__link {
  border-bottom: 4px solid transparent;
  margin-top: 8px;
}

.site-header__item:nth-child(1)::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../img/active.svg");
  background-size: cover;
  margin-top: 4px;
  margin-right: 12px;
}

.site-header__link {
  transition-duration: 0.1s;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #333;
}

.site-header__item:hover .site-header__link {
  border-bottom: 4px solid #e2f56c;
}

.site-header__item:active .site-header__link {
  opacity: 0.6;
}

.site-header__item:active::before {
  content: "";
  opacity: 0.6;
}

.site-header__btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #333;
  display: flex;
  align-items: center;
}

.site-header__btn::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../img/pet-min.svg");
  background-size: cover;
  margin-right: 12px;
}

.site-header__menu {
  display: block;
  width: 25px;
  height: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../img/hamburger.svg");
  background-size: cover;
  display: none;
}

@media only screen and (max-width: 1240px) {
  .site-header__home {
    margin-left: 0;
  }
  .site-header__logo-box {
    transform: scale(1);
  }
  .site-header__item + .site-header__item {
    margin-left: 20px;
  }
}
@media only screen and (max-width: 1040px) {
  .site-header__top {
    display: none;
  }
  .site-header__bottom {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .site-header__list {
    display: none;
  }
  .site-header__btn {
    display: none;
  }
  .site-header__menu {
    display: block;
  }
}
.hero {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../img/hero-bg-1.png"), url("../../img/hero-bg-2.png");
  background-position: left top -100px, right bottom -40px;
}
.hero__container {
  padding-top: 153px;
  padding-bottom: 311px;
  margin-left: 50%;
}
.hero__title {
  font-weight: 700;
  font-size: 70px;
  line-height: 64px;
  color: #333;
  max-width: 608px;
  margin-bottom: 29px;
}
.hero__span {
  color: #78C0DE;
}
.hero__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #949494;
  max-width: 550px;
  margin-bottom: 38px;
}
.hero__btn {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
  background: #333;
  border-radius: 3px;
  padding: 15px 48px;
  transition-duration: 0.4s;
}
.hero__btn:hover {
  color: #333;
  background-color: #FFBD54;
}
.hero__btn:active {
  opacity: 0.6;
}

@media only screen and (max-width: 1230px) {
  .hero {
    background-size: 40% auto, 20% auto;
    background-position: left top -60px, right bottom -40px;
  }
  .hero__container {
    margin-left: 37%;
    padding-top: 120px;
    padding-bottom: 250px;
  }
}
@media only screen and (max-width: 962px) {
  .hero {
    background-size: 30% auto, 15% auto;
    background-position: left top -40px, right bottom -20px;
  }
  .hero__container {
    margin-left: 27%;
    padding-top: 90px;
    padding-bottom: 160px;
  }
  .hero__title {
    font-size: 48px;
    line-height: 36px;
    max-width: 450px;
    margin-bottom: 18px;
  }
  .hero__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #949494;
    font-weight: 400;
    max-width: 400px;
    margin-bottom: 22px;
  }
}
@media only screen and (max-width: 630px) {
  .hero {
    background-size: contain, 0%;
    background-position: left center;
  }
  .hero__container {
    margin-left: 0;
    padding-top: 70px;
    padding-bottom: 130px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .hero__title {
    max-width: 100%;
  }
  .hero__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #333;
    max-width: 100%;
  }
}
.quote {
  padding-top: 40px;
}
.quote__container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.quote__hr {
  border: none;
  width: 140px;
  height: 2px;
  background-color: #DBDBDB;
  margin: 0;
}
.quote__text {
  max-width: 753px;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #949494;
  margin-top: 43px;
  margin-bottom: 35px;
  position: relative;
}
.quote__text::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: -70px;
  top: -20px;
  width: 50px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../img/quote-1-min.svg");
  background-size: contain;
}
.quote__text::after {
  content: "";
  display: inline-block;
  position: absolute;
  right: -70px;
  bottom: -20px;
  width: 50px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../img/quote-2-min.svg");
  background-size: contain;
}
.quote__author {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #333333;
  margin-top: 35px;
  text-align: center;
}

@media only screen and (max-width: 500px) {
  .quote__text::before,
.quote__text::after {
    content: "";
    display: none;
  }
}
.service {
  padding-top: 190px;
}
.service__container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.service__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 54px;
  color: #333;
  text-align: center;
  margin-bottom: 80px;
}
.service__list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}
.service__list::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 45%;
  left: -50px;
  width: 50px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../img/service-arrow-1-min.svg");
  background-size: 25% auto;
  cursor: pointer;
}
.service__list::before:hover {
  background-color: #fff;
}
.service__list::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 45%;
  right: -50px;
  width: 50px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../img/service-arrow-2-min.svg");
  background-size: 25% auto;
  cursor: pointer;
}
.service__list::after:hover {
  background-color: #fff;
}
.service__item {
  max-width: 193px;
  width: 100%;
  margin-bottom: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.service__item + .service__item {
  margin-left: 12px;
}
.service__link {
  padding: 31px 33px 28px 33px;
  text-align: center;
  display: block;
  width: 100%;
  background-color: #FFFFFF;
  border: 1px solid #F3F3F3;
  border-radius: 5px;
  transition-duration: 0.4s;
}
.service__link:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.service__link:active {
  filter: none;
  opacity: 0.6;
}
.service__item-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #333;
}
.service__link::before {
  content: "";
  display: inline-block;
  width: 78px;
  height: 78px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 21px;
}
.service__item:nth-child(1) .service__link::before {
  content: "";
  background-image: url("../../img/service-1-min.svg");
}
.service__item:nth-child(2) .service__link::before {
  content: "";
  background-image: url("../../img/service-2-min.svg");
}
.service__item:nth-child(3) .service__link::before {
  content: "";
  background-image: url("../../img/service-3-min.svg");
}
.service__item:nth-child(4) .service__link::before {
  content: "";
  background-image: url("../../img/service-5-min.svg");
}
.service__item:nth-child(5) .service__link::before {
  content: "";
  background-image: url("../../img/service-6-min.svg");
}
.service__item:nth-child(6) .service__link::before {
  content: "";
  background-image: url("../../img/service-4.svg");
}
.service__block {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #fff;
  padding: 25px;
  border-radius: 5px;
}
.service__picture {
  border-radius: 10px;
  overflow: hidden;
  max-width: 524px;
  width: 100%;
}
.service__picture img {
  object-fit: cover;
}
.service__content {
  margin-left: 67px;
}
.service__inner-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 32px;
  color: #333;
  margin-bottom: 18px;
}
.service__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
  max-width: 492px;
  margin-bottom: 32px;
}
.service__text-1 {
  margin-bottom: 10px;
}
.service__btn-block {
  display: flex;
  align-items: center;
}
.service__btn {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
  padding: 15px 36px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  transition-duration: 0.4s;
}
.service__btn:nth-child(1) {
  background: #FFBD54;
}
.service__btn:nth-child(1)::before {
  content: "";
  display: inline-block;
  width: 21px;
  height: 21px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../../img/service-money-min.svg");
  margin-right: 7px;
}
.service__btn:nth-child(1):hover {
  background-color: #333;
  color: #FFBD54;
}
.service__btn:nth-child(1):active {
  opacity: 0.6;
}
.service__btn:nth-child(2) {
  margin-left: 21px;
  background: #333;
}
.service__btn:nth-child(2)::before {
  content: "";
  display: inline-block;
  width: 21px;
  height: 21px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../../img/service-document-min.svg");
  margin-right: 7px;
}
.service__btn:nth-child(2):hover {
  color: #333;
  background-color: #FFBD54;
}
.service__btn:nth-child(2):active {
  opacity: 0.6;
}

@media only screen and (max-width: 1410px) {
  .service__list::after, .service__list::before {
    content: "";
    display: none;
  }
}
@media only screen and (max-width: 1260px) {
  .service__list {
    justify-content: center;
  }
  .service__content {
    margin-left: 25px;
  }
}
@media only screen and (max-width: 1115px) {
  .service {
    padding-top: 80px;
  }
  .service__block {
    flex-direction: column;
  }
  .service__content {
    margin-top: 40px;
    text-align: center;
    margin-left: 0;
  }
  .service__picture {
    max-width: 90%;
    width: 100%;
  }
  .service__text {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .service__btn-block {
    justify-content: center;
  }
}
@media only screen and (max-width: 600px) {
  .service__btn-block {
    flex-direction: column;
  }
  .service__btn {
    width: 90%;
    justify-content: center;
  }
  .service__btn:nth-child(2) {
    margin-left: 0;
    margin-top: 20px;
  }
  .service__picture {
    max-width: 95%;
  }
}
.news {
  margin-top: 200px;
  height: 308px;
  margin-bottom: 100px;
  background-image: url("../../img/news-bg.png");
  background-size: cover;
  background-position: center;
}
.news__container {
  padding: 90px 20px;
  max-width: 1000px;
  width: 100%;
  margin-bottom: 40px;
  display: flex;
  position: relative;
  align-items: start;
}
.news__container::after {
  content: "";
  max-width: 613px;
  width: 100%;
  position: absolute;
  top: -107px;
  right: -120px;
  height: 481px;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../img/news-dog.png");
  background-position: right top;
}
.news__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 20px;
  color: #FFFFFF;
  margin-bottom: 32px;
}
.news__form {
  display: flex;
  align-items: center;
}
.news__input {
  width: 335px;
  display: inline-block;
  padding: 18px 22px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  display: flex;
  align-items: center;
  color: #333;
  margin-right: 21px;
  border: 2px solid transparent;
}
.news__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
}
.news__input:focus {
  outline-color: #FFBD54;
}
.news__btn {
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
  padding: 18px 50px;
  background-color: #333;
  border-radius: 5px;
  font-weight: 500;
  transition-duration: 0.4s;
}
.news__btn:hover {
  background-color: #FFBD54;
  color: #333;
}
.news__btn:active {
  opacity: 0.8;
}

@media only screen and (max-width: 1250px) {
  .news {
    margin-top: 150px;
    height: 606px;
  }
  .news__container {
    padding: 90px 20px 400px 20px;
    flex-direction: column;
  }
  .news__container::after {
    content: "";
    max-width: 613px;
    width: 100%;
    position: absolute;
    top: 190px;
    right: 100px;
    background-position: center bottom;
  }
}
@media only screen and (max-width: 800px) {
  .news {
    margin-top: 100px;
    height: 756px;
  }
  .news__title {
    text-align: center;
    line-height: 50px;
  }
  .news__form {
    flex-direction: column;
    width: 100%;
  }
  .news__input {
    width: 90%;
  }
  .news__btn {
    width: 90%;
    margin-left: -20px;
    margin-top: 40px;
  }
  .news__container {
    padding: 90px 20px 375px 20px;
    flex-direction: column;
  }
  .news__container::after {
    content: "";
    max-width: 613px;
    width: 100%;
    position: absolute;
    top: 340px;
    right: 0;
    background-position: center bottom;
  }
}
.article {
  padding-top: 100px;
}
.article__title {
  max-width: 100%;
  width: 100%;
  font-weight: 700;
  font-size: 48px;
  line-height: 20px;
  color: #333333;
  margin: 0 auto;
  margin-bottom: 80px;
  text-align: center;
}
.article__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.article__item {
  background: #FEFEFE;
  border: 1px solid #E4E4E2;
  border-radius: 5px;
  max-width: 305px;
  width: 100%;
  height: 435px;
  cursor: pointer;
  transition-duration: 0.4s;
  margin-bottom: 25px;
}
.article__item:nth-child(2) {
  max-width: 640px;
  width: 100%;
  display: flex;
  align-items: center;
}
.article__item + .article__item {
  margin-left: 10px;
}
.article__content {
  padding: 41px 30px 35px 30px;
}
.article__inner-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 25px;
  color: #000000;
  margin-bottom: 10px;
}
.article__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
  margin-bottom: 34px;
}
.article__span-block {
  padding-bottom: 32px;
  display: block;
}
.article__span {
  display: inline-block;
  font-size: 14px;
  line-height: 22px;
  padding-bottom: 32px;
  text-align: center;
  color: #3D9CEA;
}
.article__btn {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #333;
  display: flex;
  align-items: center;
}
.article__item:hover .article__btn {
  color: #FFBD54;
}
.article__btn::before {
  content: "";
  display: inline-block;
  width: 23px;
  height: 23px;
  margin-right: 8px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../img/pet-min.svg");
  background-size: contain;
}
.article__item:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.article__item:active {
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.097));
}

@media only screen and (max-width: 1300px) {
  .article {
    padding-top: 60px;
  }
  .article__title {
    margin-bottom: 50px;
  }
  .article__list {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media only screen and (max-width: 1000px) {
  .article {
    padding-top: 60px;
  }
  .article__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
  .article__item {
    max-width: 90%;
    width: 100%;
    margin-left: 0;
    max-height: 700px;
    height: 100%;
  }
  .article__item:nth-child(2) {
    max-width: 90%;
    margin-left: 0;
    width: 100%;
  }
}
@media only screen and (max-width: 830px) {
  .article {
    padding-top: 50px;
  }
  .article__item:nth-child(2) {
    flex-direction: column;
    max-height: 1000px;
    height: 100%;
  }
  .article__item:nth-child(2) .article__img {
    max-height: 350px;
    height: auto;
    width: 100%;
    object-fit: cover;
  }
}
.order {
  padding-top: 200px;
}
.order__block {
  display: flex;
  align-items: center;
  align-items: start;
}
.order__iframe {
  max-width: 462px;
  width: 100%;
}
.order__iframe-2 {
  display: none;
}
.order__box {
  max-width: 100%;
  width: 100%;
  background-color: #333333;
  display: flex;
  align-items: center;
  padding: 55px 74px 58px 150px;
}
.order__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
  color: #FFFFFF;
  margin-bottom: 14px;
}
.order__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* or 125% */
  color: #949494;
  max-width: 350px;
  margin-bottom: 29px;
}
.order__form {
  max-width: 375px;
  width: 100%;
}
.order__input {
  width: 100%;
  display: block;
  padding: 14px 22px;
  margin-bottom: 14px;
}
.order__input::placeholder {
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  display: flex;
  align-items: center;
  color: #949494;
}
.order__area {
  width: 100%;
  resize: none;
  height: 165px;
  padding: 5px;
  margin-bottom: 30px;
}
.order__btn {
  border: none;
  background-color: #FFBD54;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  padding: 15px 50px;
  line-height: 21px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.order__btn:hover {
  background-color: #333333;
  color: #FFBD54;
}

@media only screen and (max-width: 1050px) {
  .order {
    padding-top: 140px;
  }
  .order__box {
    padding: 55px 40px 58px 40px;
  }
}
@media only screen and (max-width: 905px) {
  .order {
    padding-top: 100px;
  }
  .order__block {
    flex-direction: column;
  }
  .order__iframe {
    display: none;
  }
  .order__iframe-2 {
    display: block;
    margin-left: 40px;
  }
  .order__box {
    padding: 55px 40px 58px 40px;
  }
}
@media only screen and (max-width: 770px) {
  .order {
    padding-top: 100px;
  }
  .order__box {
    flex-direction: column;
    align-items: center;
  }
  .order__iframe {
    display: none;
  }
  .order__iframe-2 {
    margin-left: 0;
    margin-top: 40px;
  }
  .order__btn {
    margin: 0 auto;
    display: inline-block;
    display: flex;
    justify-content: center;
  }
  .order__box {
    padding: 55px 40px 58px 40px;
  }
}
.site-footer {
  margin-top: 200px;
  padding-top: 61px;
  background: #F3F3F3;
  border: 1px solid #EBEBEB;
  padding-bottom: 20px;
}
.site-footer__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.site-footer__logo {
  max-width: 158px;
  width: 100%;
}
.site-footer__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  transition-duration: 0.4s;
}
.site-footer__link:hover, .site-footer__tel:hover {
  color: #FFBD54;
}
.site-footer__link:active, .site-footer__tel:active {
  color: #333;
  opacity: 0.6;
}
.site-footer__list {
  max-width: 150px;
  width: 100%;
  margin-left: 67px;
}
.site-footer__list-2 {
  margin-left: 87px;
}
.site-footer__data-block {
  display: flex;
}
.site-footer__time {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}
.site-footer__adress {
  max-width: 200px;
}
.site-footer__tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  display: block;
  transition-duration: 0.3s;
}
.site-footer__text {
  max-width: 300px;
  margin-left: auto;
  margin-top: 63px;
}
.site-footer .site-footer__time-block {
  display: flex;
  align-items: center;
  align-items: flex-start;
}
.site-footer .site-footer__time-block::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../img/schedule-min.svg");
  background-size: cover;
  margin-right: 7px;
}
.site-footer .site-footer__tel-block {
  display: flex;
  align-items: flex-start;
}
.site-footer .site-footer__tel-block::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../img/phone-min.svg");
  background-size: cover;
  margin-right: 9px;
}
.site-footer__adress {
  display: flex;
  align-items: center;
  align-items: flex-start;
}
.site-footer__adress::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 13px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../img/house-min.svg");
  margin-right: 9px;
}

@media only screen and (max-width: 1200px) {
  .site-footer__list {
    margin-left: 0px;
    max-width: 100px;
  }
  .site-footer__list-2 {
    margin-left: 0px;
    max-width: 135px;
  }
}
@media only screen and (max-width: 1000px) {
  .site-footer__container {
    flex-wrap: wrap;
  }
  .site-footer__data-block {
    width: 100%;
    margin-top: 25px;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 678px) {
  .site-footer__container {
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .site-footer__data-block {
    align-items: center;
    flex-direction: column;
  }
  .site-footer__list {
    margin-top: 25px;
    max-width: 100%;
  }
  .site-footer__list-2 {
    max-width: 100%;
  }
  .site-footer__adress {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .site-footer__text {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 63px;
    padding-left: 15px;
  }
}/*# sourceMappingURL=main.css.map */